<% layout('layouts/boilerplate')%>
<div class="cactus-bg"></div>
<div class="home">
  <div class="home__text">
    <h1>Welcome</h1>
    <div class="home__nav">
      <a href="/plants">Plants</a>
      <a href="/stores">Shop</a>
    </div>
  </div>
</div>
