nav,
body,
footer {
  font-family: "Poiret One", cursive;
}

.parallax-bg {
  background-image: url("cacti-bg.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #fafafa;
}

.home__text {
  height: 250px;
  width: 500px;
  opacity: 0.3;
  background-color: #ffffff;
  opacity: 0.6;
}

.card-img {
  max-width: 300px;
  max-height: 300px;
}

.footer__text {
  font-size: 70%;
}
