nav,
body,
footer {
  font-family: "Poiret One", cursive;
}

.plant__index,
.store__index,
.plant__new,
.store__new {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 80%;
  left: 10%;
}

/* Home */

.home__text {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}

.home__nav a {
  padding: 1%;
  text-decoration: none;
}

.footer__text {
  font-size: 70%;
}
/* Plant Index */

.plant__index-card:hover .plant__index-card-overlay {
  opacity: 100%;
}

.plant__index-card:hover {
  background-color: #fafafa;
  opacity: 95%;
}

.plant__index-card {
  width: 15rem;
  margin: 1.5%;
  opacity: 90%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}

.plant__index-card-overlay {
  position: absolute;
  top: 40%;
  left: 40%;
  transition: 0.3s ease;
  opacity: 0;
}

.plant__index-img {
  height: 200px;
  margin: 5%;
}

/* Plant Show */
.plant__show,
.store__show {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
}

.plant__show-card,
.store__show-card {
  opacity: 95%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.plant__show-buttons,
.store__show-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.plant__show-img,
.store__show-img {
  max-height: 50vh;
  min-width: 10vw;
  background-color: white;
  padding: 5%;
  border-radius: 7%;
  opacity: 92%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Plant New */
.plant__new,
.store__new {
  width: 50%;
  background-color: white;
  padding: 5%;
  margin-top: 2%;
  border-radius: 3%;
  opacity: 80%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* =========================================== */
/*                STORES                       */
/* =========================================== */

.store__index-title {
  background-color: white;
  padding: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.store__new {
  width: 80% !important;
  opacity: 98% !important;
}

.store__show {
  top: 15% !important;
}

.store__show-products {
  background-color: white;
  opacity: 95%;
  text-align: center;
}

/* Parallax Settings */

.cactus-bg {
  background-image: url("cacti-bg.jpg");
  height: calc(100vh - 56px - 17px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.snakeplant-bg {
  background-image: url("snakeplant-bg.png");
  height: calc(100vh - 56px - 17px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 70%;
}

.eucalyptus-bg {
  background-image: url("ecalyptus-bg.jpg");
  height: calc(100vh - 56px - 17px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
}

.leaves-bg {
  background-image: url("leaves-bg.jpg");
  height: calc(100vh - 56px - 17px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}
