nav,
body,
footer {
  font-family: "Poiret One", cursive;
}

main {
  padding-bottom: 5%;
}
/* Parallax Settings */

.parallax-bg {
  background-image: url("cacti-bg.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plant__index,
.plant__new {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
}

/* body {
  background-color: #fafafa;
} */

.home__text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.card-img {
  max-width: 300px;
  max-height: 300px;
}

.footer__text {
  font-size: 70%;
}
/* Plant Index */

.card {
  opacity: 0.85;
}
/* Plant Show */
.plant__show {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
}
