<div class="store__show-contact col-10 offset-1 mt-3 mb-3 py-2">
  <h1 class="text-center">Contact</h1>
  <div class="row">
    <div class="col-md-5">
      <div class="flex-row justify-space-around">
        <div>
          <i class="fas fa-shipping-fast"></i>
          Delivery Available
        </div>
        <div>
          <i class="fas fa-shopping-bag"></i>
          Curbside Pickup
        </div>
        <i class="fas fa-phone"></i>
        <i class="fab fa-facebook-messenger"></i>
      </div>
    </div>
    <div class="col-md-6 m-3">
      Send a message!
      <form
        action=""
        novalidate
        class="needs-validation"
        style="max-width: 90%"
      >
        <div class="form-group mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
            required
          />
        </div>

        <div class="form-group mb-3">
          <textarea
            class="form-control"
            id="message"
            rows="4"
            name="message"
            placeholder="message"
            required
          ></textarea>
        </div>
        <p>**Add Recaptcha</p>

        <button>Submit</button>
      </form>
    </div>
  </div>
</div>
