<div class="store__show-location col-10 offset-1 mt-3 py-2">
  <h1 class="text-center">Location & Hours</h1>
  <div class="d-flex justify-content-center">
    <div
      id="map"
      style="width: 400px; height: 300px"
      class="d-flex justify-content-center"
    ></div>

    <div class="hours text-left">
      <h3>Opening Hours</h3>
      <p>Monday: 11:00 am - 5:00 pm</p>
      <p>Tuesday: 11:00 am - 5:00 pm</p>
      <p>Wednesday: 11:00 am - 5:00 pm</p>
      <p>Thursday: 11:00 am - 5:00 pm</p>
      <p>Friday: 11:00 am - 5:00 pm</p>
      <p>Saturday: 11:00 am - 5:00 pm</p>
      <p>Sunday: closed</p>
    </div>
  </div>
</div>
