<div class="store__show-location col-10 offset-1 mt-3 py-2">
  <h1 class="text-center">Location</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ratione quasi
    ducimus quis consequatur, sapiente dolorem! Animi ducimus, fugiat, assumenda
    dolorem quos consectetur officiis ex hic dicta ab corporis corrupti.
  </p>
</div>
